/*
- example
- todo
*/

@keyframes lightAnimation {
  0% {
    -webkit-filter: brightness(1);
    filter: brightness(1);
  }
  50% {
    -webkit-filter: brightness(1.2);
    filter: brightness(1.2);
  }
  to {
    -webkit-filter: brightness(1);
    filter: brightness(1);
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
