/*
- example
- todo
*/

$primary: #d32d2f;
$primary-400: #ff0000;

$yellow-600: #f0b150;
$yellow-500: #f5ebbd;
$yellow-400: #fdf8e1;

$brown-500: #94572a;
$green-500: #3eb976;
$blue-500: #47a1f5;
$blue-400: #73bbfe;

$black: #202020;
$white: #ffffff;

$grey-700: #334155;
$grey-600: #656565;
$grey-500: #888888;
$grey-300: #a6a6a6e0;
$grey-200: #ebebeb;
$grey-100: #d6d6d6;
$grey-50: #f5f5f5c7;
